<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
		<!--JD-->
		<!--<add name="KarzPlusConnectionString"
						 connectionString="Server=JDDEV\JDSQL;Database=KarzPlus;User Id=KarzPlus;Password=Kar$++;"
						 providerName="System.Data.SqlClient" />
		<add name="MembershipConnectionString"
				 connectionString="Server=JDDEV\JDSQL;Database=KarzPlus;User Id=KarzPlus;Password=Kar$++;"
				 providerName="System.Data.SqlClient" />-->

		<!--JO-->
		<add name="KarzPlusConnectionString"
						 connectionString="Server=(Local);Database=KarzPlus;User Id=KarzPlus;Password=Kar$++;"
						 providerName="System.Data.SqlClient" />
		<add name="MembershipConnectionString"
				 connectionString="Server=(Local);Database=KarzPlus;User Id=KarzPlus;Password=Kar$++;"
				 providerName="System.Data.SqlClient" />
		
		<!--KE-->
		<!--<add name="KarzPlusConnectionString"
				 connectionString="Server=(Local);Database=KarzPlus;User Id=KarzPlus;Password=Kar$++;"
				 providerName="System.Data.SqlClient" />
		<add name="MembershipConnectionString"
				 connectionString="Server=(Local);Database=KarzPlus;User Id=KarzPlus;Password=Kar$++;"
				 providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>